---
import SEO from '@components/SEO.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import '../styles/global.css';

const { seo } = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO {...seo} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
