---
import { formatDate, getReadTime } from '@utils';

const {
    publishDate,
    readTime,
    large = false
} = Astro.props;
---

<span class:list={[large && 'large']}>
    {formatDate(publishDate)} • {getReadTime(readTime)} min read
</span>

<style>
    span {
        color: var(--text-secondary);
        font-size: var(--font-xs);
    }
    
    .large {
        font-size: var(--font-xl);
        text-shadow: 0 2px 5px var(--primary);
    }
</style>
